body{
	background: #89B1BD;
  margin: 0;
  padding: 0;
}

.container{
  text-align: center;
}

h2{
	color: white;
	font-size: 34px;
	text-align: center;
	border: 2px solid white ;
}

p{
	font-size: 50px;
	text-align:center;
	color: white;
	font-family: arial;
	text-transform: uppercase;
  border-width: 10px;
}

h1{
	font-size: 50px;
	color: white;
}

.button1 {
  background-color: #4AAECD;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 495px;
  top: 500px;;

}

.button2 {
  background-color: #4AAECD;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 495px;
  top: 700px;;

}

.button3 {
  background-color: #4AAECD;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 520px;
  top: 900px;;

}

.button4 {
  background-color: #4AAECD;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 530px;
  top: 1100px;;

}

.button5 {
  background-color: #4AAECD;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 550px;
  top: 1300px;

}

img{
	position: absolute;
	right: 400px;
	top: 100px;
}

.pp{
  color: blue;
}

.p{
  position: absolute;
}

.buttongroup button {
  background-color: blue; /* Green background */
  border: 1px solid white; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */ /* Float the buttons side by side */
  display:inline-block;
  text-align: center;
  
}

.buttongroup button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.buttongroup:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.buttongroup button:hover {
  background-color: #3e8e41;
}

.navagationBar{
  overflow: hidden;
  background-color: white;

}

.navagationBar a{
  float: left;
  display: block;
  color: #A8A7A7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;


}

.navagationBar a:hover{
  background-color: #010101;
}

.Bigbutts button{
  text-align: center;
  margin-top: 100px;
  background-color: #010101; 
  border: 1px solid white; 
  color: white; 
  padding: 10px 24px; 
  cursor: pointer; 


}

.Bigbutts:after {
  content: "";
  clear: both;
  display: table;
}

.Bigbutts button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.Bigbutts button:hover {
  background-color:#656161;  
}
