body{
	background: #89B1BD;
}


.title{
	color: white;
	font-size: 34px;
	text-align: center;
	border: 2px solid white ;
}

.about{
	text-align: left;
	color: #85D9C0;
	font-size:24px;
}

.who{
	text-align: center;
	color: #85D9C0;
    margin-top: -60px;
    font-size:24px;


}

.youtube{
	text-align: right;
	color: #85D9C0;
	font-size:24px;
	}

h1{
	text-align: center;
	color: #DBED81;
}


p{
	font-size: 98px;
	text-align:center;
	color: white;
	font-family: arial;
	text-transform: uppercase;
}


.button1 {
  background-color: #4AAECD;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 495px;
  top: 500px;;

}

.button2 {
  background-color: #4AAECD;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 495px;
  top: 700px;;

}

.button3 {
  background-color: #4AAECD;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 495px;
  top: 900px;;

}

