body{
	
}


.title{
	color: black;
	font-size: 34px;
	text-align: center;
	border: 2px solid black ;
}

.about{
	text-align: left;
	color: #85D9C0;
}

.who{
	text-align: center;
	color: #85D9C0;
    margin-top: -60px;


}

.youtube{
	text-align: right;
	color: #85D9C0;
	}

h1{
	text-align: center;
	color: #DBED81;
}

p{
	font-size: 24px;
	text-align:center;
	border: 3px solid black;
	color: #FAA255;
}
