body{
	background: #89B1BD;
}


.title{
	color: white;
	font-size: 34px;
	text-align: center;
	border: 2px solid white ;
}

p{
	font-size: 18px;
	text-align:left;
	color: white;
	font-family: arial;
	text-transform: uppercase;
}

h1{
	font-size: 50px;
}

.button1 {
  background-color: #4AAECD;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 495px;
  top: 500px;;

}

.button2 {
  background-color: #4AAECD;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 495px;
  top: 700px;;

}

.button3 {
  background-color: #4AAECD;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 520px;
  top: 900px;;

}

.button4 {
  background-color: #4AAECD;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 530px;
  top: 1100px;;

}

.button5 {
  background-color: #4AAECD;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 550px;
  top: 1300px;

}

.navagation1{
	font-color:#E5E2E2;
	text-align: center;
	position: absolute;
	left: 1000px;
	top: -10px;
}


.navagation2{
	font-color:#E5E2E2;
	text-align: center;
	position: absolute;
	left: 100px;
	top: -10px;
}


.navagation3{
	font-color:#E5E2E2;
	text-align: center;
	position: absolute;
	left: 300px;
	top: -10px;
}


.navagation4{
	font-color:#E5E2E2;
	text-align: center;
	position: absolute;
	left: 800px;
	top: -10px;
}

.navagation5{
	font-color:#E5E2E2;
	text-align: center;
	position: absolute;
	left: 600px;
	top: -10px;
}

